Source: smilemenu
Section: utils
Priority: optional
Maintainer: SmileLulz <SmileLulz@users.noreply.github.com>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 g++,
 qt6-base-dev,
 qt6-declarative-dev,
 liblayershellqtinterface-dev
Standards-Version: 4.7.0

Package: smilemenu
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 layer-shell-qt
Description: A fast and lightweight application launcher and utility menu.
 SmileMenu is a lightweight app launcher and utility menu for Wayland desktops.
 It's highly themable, supports custom scripting, and much more.
