Source: smilemenu
Section: utils
Priority: optional
Maintainer: SmileLulz404 <SmileLulz404@noreply.codeberg.org>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 g++,
 qt6-base-dev,
 qt6-declarative-dev,
 qt6-5compat-dev,
 liblayershellqtinterface-dev
Standards-Version: 4.6.2

Package: smilemenu
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 layer-shell-qt,
 qml6-module-org-kde-layershell,
 qml6-module-qt5compat-graphicaleffects
Description: A modern and lightweight Qt launcher
 SmileMenu is a native Qt/QML application launcher for Wayland desktops.
